@model foldingGate.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">Terjadi kesalahan saat memproses permintaan.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong>
        <code>@Model.RequestId</code>
    </p>
}
