@using foldingGate.Models.DB
@model IEnumerable<Product>

<h2>Katalog Produk Folding Gate</h2>

@foreach (var item in Model)
{
    <div>
        <h4>@item.NamaProduk</h4>
        <p>@item.Deskripsi</p>
        <p>Harga: Rp @item.Harga</p>
        <a asp-controller="Orders" asp-action="Create" asp-route-productId="@item.ProductId">
            Pesan
        </a>
    </div>
}
